.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.custom-box {
  background-color: #eee;
  padding-top: .5%;
  /* Add top padding */
  padding-bottom: .5%;
  text-align: center;
  /* Center the text horizontally */
  justify-content: center;
  /* Center the text vertically */
}

.centered-text {
  display: flex;
  flex-direction: column;
  /* Align items vertically */
  align-items: center;
  /* Center horizontally */
  text-align: center;
  /* Center the text horizontally */
  justify-content: center;
  /* Center the text vertically */
  display: flex;
  align-items: center;
}

.form-field {
  margin-bottom: 20px;
  /* Adjust the margin to control vertical spacing between fields */
  display: flex;
  flex-direction: column;
}

.image-container {
  max-width: 100%;
  /* Ensure the container does not exceed its parent's width */
  height: auto;
  /* Maintain the aspect ratio by adjusting the height */
  display: flex;
  /* Enable centering both horizontally and vertically */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}